configuration {
  modi: "drun,run,window";
  show-icons: true;
  terminal: "kitty";
  drun-display-format: "{name}";
  display-drun: "";
  font: "Hack Nerd Font 14";
  case-sensitive: false;
  matching: "fuzzy";
}

@theme "theme"
