@import "/etc/nixos/dotfiles/theme/colors-rofi.rasi"

window {
  transparency: "real";
  location: center;
  anchor: center;
  width: 460px;
  height: 340px;
  padding: 14px;
  border: 0px;
  border-radius: 14px;
  background-color: @surface;
}

mainbox {
  spacing: 0px;
  background-color: @transparent;
}

inputbar {
  children: [ entry ];
  margin: 12px 12px 0px 12px;
  padding: 12px;
  spacing: 8px;
  border: 0px;
  border-radius: 10px;
  background-color: @input-surface;
}

prompt {
  enabled: false;
  text-color: @color12;
  background-color: @transparent;
}

entry {
  placeholder: "Поиск…";
  placeholder-color: @color8;
  text-color: @foreground;
  background-color: @transparent;
}

listview {
  lines: 6;
  columns: 1;
  fixed-height: true;
  scrollbar: false;
  padding: 16px;
  spacing: 2px;
  background-color: @transparent;
}

element {
  margin: 3px;
  padding: 7px;
  spacing: 8px;
  border: 0px;
  border-radius: 20px;
  background-color: @transparent;
  text-color: @foreground;
}

element selected.normal {
  background-color: @transparent;
  text-color: @color12;
}

element-icon {
  size: 1.3em;
  background-color: @transparent;
}

element-text {
  vertical-align: 0.5;
  background-color: @transparent;
  text-color: inherit;
}
